<mat-toolbar
	color="primary">
	<button
		mat-icon-button>
		<mat-icon
			(click)="sidenav.toggle()">
			{{sidenav.opened ? 'menu_open' : 'menu'}}
		</mat-icon>
	</button>
	<span>Responsive Navigation</span>
</mat-toolbar>
<mat-sidenav-container>
	<mat-sidenav
		#sidenav
		[mode]="isMobile? 'over' : 'side'"
		[opened]="!isMobile">
		<mat-nav-list>
			<a
				*ngFor="let item of items"
				mat-list-item
				[routerLink]="[item.route]"
				routerLinkActive="list-item-active">
				<mat-icon
					*ngIf="item.icon"
					matListIcon
					class="app-nav-list-icon">
					{{item.icon}}
				</mat-icon>
				{{item.title}}
			</a>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>